<% layout("/layouts/boilerplate")-%>

<div class="container mt-5">
  <h1 class="mb-4" style="color: #182527">Create New Department</h1>
  <div class="card" style="border-color: #1ecd8d">
    <div class="card-body">
      <form action="/departments" method="POST">
        <div class="mb-3">
          <label for="deptname" class="form-label" style="color: #545454"
            >Department Name</label
          >
          <input
            type="text"
            class="form-control"
            name="department[deptname]"
            id="deptname"
            required
            style="border-color: #1ecd8d" />
        </div>
        <div class="mb-3">
          <label for="deptcode" class="form-label" style="color: #545454"
            >Department Code</label
          >
          <input
            type="text"
            class="form-control"
            name="department[deptcode]"
            id="deptcode"
            required
            style="border-color: #1ecd8d" />
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          style="background-color: #1ecd8d; border-color: #1ecd8d">
          Add Department
        </button>
      </form>
    </div>
  </div>
</div>
