<% layout("/layouts/boilerplate")-%>

<div class="row mt-3">
  <h1 class="col-6 offset-3">Sign Up</h1>
  <div class="col-6 offset-3">
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          required />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          required />
      </div>
      <div class="mb-3">
        <p>You are a:</p>
        <select name="role" id="" required class="form-control">
          <option value="" disabled selected>Select your role</option>
          <option value="student">Student</option>
          <option value="teacher">Teacher</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <button class="btn btn-success">Sign Up</button>
    </form>
  </div>
</div>
